.header-text {
    margin-top: 85px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.header-image-container {
    flex: 1;
}

.header-image-container img {
    width: 100%;
}

.header-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-text-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 73px;
    letter-spacing: 0.01em;
    color: #262524;
}

h1 span {
    color: #8382EB;
}

.header-image-container p {
    margin-top: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #262524;
    opacity: 0.6;
}

.header-text-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
}

.header-text-btns button {
    margin-top: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    padding: 16px 24px;
    box-shadow: 0px 20px 80px rgba(51, 78, 123, 0.3);
    border-radius: 10px;
    cursor: pointer;
}

.get-started-btn {
    color: #FFFFFF;
    background-color: #264373;
    gap: 79px;
}

.learn-more-btn {
    color: #264373;
    background-color: #FFFFFF;
    gap: 15px;
}

.header-text-container h3 {
    margin-top: 51px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262524;
}

.brands-name {
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.brand-image-container {
    flex: 1;
    max-width: 100px;
}

.brand-image-container img {
    width: 100%;
}

.header-bottom-text {
    margin-top: 122px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-bottom-text h1 {
    flex: 1;
    font-weight: 600;
    font-size: 46px;
    line-height: 73px;
    color: #262524;
    max-width: 460px;
    font-family: 'Montserrat', sans-serif;
}

.header-bottom-text p {
    max-width: 650px;
    flex: 1.2;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #262524;
    opacity: 0.5;
}

.outcomes {
    margin-top: 137px;
    width: 100%;
    background: linear-gradient(87.05deg, #6462F0 0%, #9190E9 95.5%);
    border-radius: 30px;
    padding: 80px 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.outcome {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.outcome-image-container {
    width: 100px;
    height: 100px;
}

.outcome-image-container img {
    width: 100%;
    height: min-content;
}

.outcome-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.outcome-text h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.outcome-learn-more-btn {
    width: fit-content;
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    align-items: center;
    gap: 18px;
}

.outcome-learn-more-btn span{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.5;
}

@media screen and (max-width:1250px) {
    .header-text{
        flex-direction: column;
    }
    .header-bottom-text{
        flex-direction: column;
    }
    .header-bottom-text h1{
        text-align: center;
    }
    .header-bottom-text p{
        text-align: center;
    }
    .outcomes{
        flex-direction: column;
    }
}
@media screen and (max-width:516px) {
    .header-bottom-text{
        gap: 30px;
    }
    .header-bottom-text h1{
        font-size: 32px;
        line-height: 1.4;
    }
    .header-text-btns{
        gap: 10px;
    }
    .header-text-btns button{
        padding: 5px 10px;
        font-size: 10px;
    }
    .get-started-btn{
        gap: 30px;
    }
    .learn-more-btn{
        gap: 5px;
    }
    .outcome{
        gap: 10px;
        align-items: center;
    }
    .outcome-text h3{
        font-size: 16px;
        line-height: 1.2;
    }
    .outcome-learn-more-btn span{
        font-size: 14px;
    }
}

@media screen and (max-width:305px) {
    .header-text-btns{
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }
}